<!--<!doctype html>
<html lang="en">

<head>
</head>-->

<body>
    <tr>
        <td style="padding:0">
            <table align="center" bgcolor="#FFFFFF" class="m_970757957115455549row" style="margin:0 auto">
                <tbody>
                    <tr>
                        <td class="m_970757957115455549spacer" colspan="2" height="30" style="font-size:30px;line-height:30px;margin:0;padding:0">&nbsp;</td>
                    </tr>
                    <tr style="vertical-align:top" valign="top">
                        <th class="m_970757957115455549column m_970757957115455549mobile-6" style="width:640px;padding:5px 30px;font-weight:400" width="640"><a href="http://carbajalsalinas.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://carbajalsalinas.com"><img alt="Header Logo" height="60" src="https://keenthemes.com/metronic/preview/angular/demo1/assets/media/logos/logo-4.png" style="margin:0;width:95px;border:0" width="95" class="CToWUd"> </a></th>
                        <th class="m_970757957115455549column m_970757957115455549mobile-6 m_970757957115455549sans-serif" style="width:640px;padding:5px 30px;font-weight:400;text-align:right" width="640"><a href="http://carbajalsalinas.com" style="text-decoration:none;color:#424242;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://carbajalsalinas.com">Sign In </a></th>
                    </tr>
                    <tr>
                        <td class="m_970757957115455549spacer" colspan="2" height="30" style="font-size:30px;line-height:30px;margin:0;padding:0">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table align="center" bgcolor="#FFFFFF" class="m_970757957115455549row" style="word-break:break-all;border-spacing:0;margin:0 auto;border-top:1px solid #eeeeee">
                <tbody>
                    <tr>
                        <td class="m_970757957115455549spacer" colspan="2" height="30" style="font-size:30px;line-height:30px;margin:0;padding:0" width="100%">&nbsp;</td>
                    </tr>
                    <tr class="m_970757957115455549mobile-full-width" style="vertical-align:top" valign="top">
                        <th class="m_970757957115455549column m_970757957115455549mobile-last" style="width:327px;padding:0;padding-left:30px;padding-right:30px;font-weight:400" width="327px">
                            <table bgcolor="#FFFFFF" style="border-spacing:0;width:100%" width="100%">
                                <tbody>
                                    <tr>
                                        <th class="m_970757957115455549sans-serif" style="padding:0;text-align:left">
                                            <div class="m_970757957115455549sans-serif" style="color:rgb(150,154,161);font-weight:400;line-height:30px;margin:0;padding:0">


                                                <div style="margin-bottom:15px;font-size:15px;color:#747487">Hello <a href="{mailto:email}" style="color:#747487;text-decoration:none" target="_blank">{email}</a>,</div>
                                                <div style="margin-bottom:15px;font-size:15px;color:#747487">Welcome to Metro Protocol! <br>To <span class="il">activate</span> your account please click the button below to verify your email address: </div>

                                                <center>
                                                    <table bgcolor="#2D8CFF" style="border-spacing:0;border-radius:3px;margin:0 auto">
                                                        <tbody>
                                                            <tr>
                                                                <td class="m_970757957115455549sans-serif" style="padding:0"><a href="{activateUrl}"><span class="il">Activate</span> Account</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </center>
                                                <table align="center" bgcolor="#FFFFFF" class="m_970757957115455549row" style="border-spacing:0;margin:0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_970757957115455549spacer" colspan="2" height="20" style="font-size:20px;line-height:20px;margin:0;padding:0" width="100%">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="margin-bottom:15px;font-size:15px;color:#747487;word-break:break-all">Or paste this link into your browser:<br><a href="{activateUrl}" style="color:#2d8cff;font-weight:700;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q={activateUrl}">{activateUrl}</a></div>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    <tr>
                        <td class="m_970757957115455549spacer" colspan="2" height="40" style="font-size:40px;line-height:40px;margin:0;padding:0" width="100%">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table align="center" bgcolor="#c6c6c6" class="m_970757957115455549row" style="border-spacing:0;margin:0 auto">
                <tbody>
                </tbody>
            </table>

            <table align="center" class="m_970757957115455549row" style="border-spacing:0;margin:0 auto">
                <tbody>
                    <tr>
                        <th class="m_970757957115455549column" style="width:640px;padding:0;padding-left:30px;padding-right:30px;color:#969aa1;font-size:13px;font-weight:400" width="640">
                            <table align="center" class="m_970757957115455549row" style="border-spacing:0;margin:0 auto">
                                <tbody>
                                    <tr>
                                        <td class="m_970757957115455549spacer" colspan="2" height="40" style="font-size:40px;line-height:40px;margin:0;padding:0">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="m_970757957115455549spacer" height="40" style="font-size:40px;line-height:40px;margin:0;padding:0">&nbsp;</td>
    </tr>
</body>

<!--</html>-->
